.container-all{
    background-color: #444;
    border-radius: 5px;
    transition: 0.2s;
}

.container-all:hover{
    border: 0px solid;
}

.task-container{
    background-color: #444;
    margin-top: 8px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
}

.buttons-container{
    display: flex;
}

.remove-task-button{
    background-color: transparent;
    border: none;
    font-size: 24px;
    height: 3rem;
    width: 3rem;
    margin-right: 5px;
    transition: 0.3s;
}

.see-task-button{
    background-color: transparent;
    border: none;
    font-size: 24px;
    height: 3rem;
    width: 3rem;
    transition: 0.3s;
}

#task-button{
    color: #bc57ff;
}

.remove-task-button:hover, .see-task-button:hover{
    cursor: pointer;
    filter: brightness(0.7);
}

.task-title{
    display: flex;
    align-items: center;
    min-height: 3rem;
    width: 75%;
    padding: 6px 6px 6px 12px;
}

.task-title p{
    word-break: break-word;
}

.task-title:hover{
    cursor: pointer;
}

.task-title::selection{
    color: #FFF;
}