.task-details-container{
    background-color: #444;
    margin: 15px 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    color: #FFF;
    border-radius: 5px;
    
}

.task-details-container p{
    word-wrap: break-word;
}

h2{
    cursor: alias;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 > p{
    cursor: alias;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: rgb(107, 107, 107);
}

.back-button-container{
    width: 100px;
    margin-top: 10px;
}

@media (max-width: 390px) {
    .back-button-container{
        width: 100%;
    }
}